@charset "utf-8";

body {
    background-image: url("/Imagem/background.jpg");
    background-size: cover;
    background-attachment: scroll;
  }
header{margin: 0px 0px 15px 0px; background-color: #957bbe; height: 60px; padding: 5px;}
main{background-color: palevioletred; padding: 10px; margin: 50px 150px 0px 100px; text-align: center; height: 1000px; }





